a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  position: sticky;
  background-color: #005A82;
  border-bottom: solid 1px #F0E6D2;
  top: 0;
  height: 5vh;
  gap: 20px;
  padding: 15px 30px;
}

.nav-bar-yellow {
  color: #C89B3C
}

.nav-bar-gray {
  color: #A09B8C
}

.nav-bar-home,
.nav-bar-shop,
.nav-bar-quantity {
  font-size: larger;
  font-weight: 600;
}


.cart-items {
  margin-left: auto;
}


.shop {
  display: flex;
  flex-direction: column;
}

.shop-main {
  display: grid;
  grid-template-columns: 125px 1fr;
}

.shop-left {
  background-color: #005A82;
  border-right: solid 1px #F0E6D2;
  color: #C89B3C;
  padding: 10px;
}

.shop-filter {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 15vh;
  gap: 50px;
}

.shop-filter-label {
  display: flex;
  align-items: center;
  gap: 5px;
}



.shop-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 30px;
}




.champion-modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

.champion-modal {
  background-image: linear-gradient(#091428, #0A1428);
  box-shadow: inset 0 0px 20px 2px black;
  color: #A09B8C;
  display: flex;
  gap: 15px;
  margin-bottom: 10vh;
  padding: 20px;
  width: 80%;
  max-width: 650px;
}

.modal-left {
  display: flex;
  align-items: center;
}

.modal-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-close-button {
  align-self: flex-end;
}

.modal-champion-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-name {
  margin-bottom: 0;
}

.modal-title {
  font-style: italic;
  margin-top: 5px;
}

.modal-lore {
  text-align: justify;
  line-height: 1.25;
}

.modal-cart-section {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 50px;
  gap: 15px;
}

.modal-price {
  margin-bottom: 10px
}

.modal-quantity-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-add-to-cart-button {
  align-self: flex-start;
  margin-top: 10px;
}