@font-face {
  font-family: "Beaufort";
  src: local("Beaufort"), url("../assets/fonts/BeaufortforLOL-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spiegel";
  src: local("Spiegel"), url("../assets/fonts/Spiegel_TT_Regular.ttf") format("truetype");
}

:root {
  font-family: "Spiegel";
  scrollbar-width: 10px;
}

html {
  background-image: linear-gradient(#091428, #0A1428);
}

html,
body,
#root {
  height: 100%;
}

h1 {
  font-family: "Beaufort";
}

a {
  text-decoration: none;
}

button {
  font-family: "Beaufort";
  font-size: x-large;
  font-weight: 600;
  background-color: #0397AB;
  color: #C89B3C;
  border: solid 2px #32281E;
}

button:hover {
  background-color: #005A82;
  cursor: pointer;
}

button:active {
  box-shadow: inset 0 0 10px 2px lightgrey;
}

.nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #005A82;
  border-bottom: solid 1px #F0E6D2;
  box-sizing: border-box;
  top: 0;
  height: 90px;
  gap: 20px;
  padding: 15px 30px;
  width: 100%;
  z-index: 1;
}

.nav-bar-yellow {
  color: #C89B3C
}

.nav-bar-gray {
  color: #A09B8C
}

.nav-bar-home,
.nav-bar-shop,
.nav-bar-quantity {
  font-size: larger;
  font-weight: 600;
}

.cart-items {
  margin-left: auto;
}

.homepage {
  background-image: linear-gradient(#091428, #0A1428);
  color: #A09B8C;
  padding: 0 135px 30px;
  min-height: 100%;
  margin-top: 90px;
}

.homepage-title {
  color: #F0E6D2;
  margin-top: 0;
  padding-top: 0.67em
}

.homepage-image {
  display: block;
  max-width: 100%;
}

.shop {
  display: grid;
  grid-template-columns: 125px 1fr;
  height: 100%;
  margin-top: 90px;
}

.shop-left {
  background-color: #005A82;
  border-right: solid 1px #F0E6D2;
  color: #C89B3C;
  padding: 10px;
}

.shop-filter {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 15vh;
  gap: 50px;
}

.shop-filter-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shop-right {
  color: #A09B8C;
  background-image: url(../assets/images/shop_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0 10px 30px
}

.shop-title {
  color: #F0E6D2;
}

.shop-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 30px;
}

.champion-card {
  background-color: #010A13;
  width: 150px;
  padding: 10px;
}

.champion-card:hover {
  background-color: #0397AB;
  transform: scale(1.05);
}

.champion-modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

.champion-modal {
  background-image: linear-gradient(#091428, #0A1428);
  box-shadow: inset 0 0px 20px 2px black;
  border: solid 2px #32281E;
  display: flex;
  gap: 15px;
  margin: 10vh 5vw;
  padding: 20px;
  /* width: 80%; */
  max-width: 650px;
  max-height: 85vh;
}

.modal-left {
  display: flex;
  align-items: center;
}

.modal-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-close-button {
  align-self: flex-end;
}

.modal-champion-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-name {
  margin-bottom: 0;
}

.modal-title {
  font-style: italic;
  margin-top: 5px;
}

.modal-lore {
  text-align: justify;
  line-height: 1.25;
}

.modal-cart-section {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 50px;
  gap: 15px;
}

.modal-price {
  margin-bottom: 10px
}

.modal-quantity-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-add-to-cart-button {
  align-self: flex-start;
  margin-top: 10px;
}

.checkout {
  background-image: linear-gradient(#091428, #0A1428);
  color: #A09B8C;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  padding-left: 135px;
  padding-bottom: 100px;
  padding-right: 135px;
  min-height: 100%;
}

.checkout-title {
  color: #F0E6D2;
}

.checkout-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  gap: 25px;
}

.checkout-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.checkout-list-item button {
  width: fit-content;
  height: fit-content;
  justify-self: end;
}

.checkout-list-item-input {
  margin-left: 150px;
}

.checkout-order-info-section {
  align-self: center;
  display: flex;
  align-items: center;
  margin-top: 100px;
  gap: 100px;
}

.checkout-total {
  margin: 0;
}

.checkout-place-order-button-link {
  align-self: end;
}

.confirmation {
  background-image: linear-gradient(#091428, #0A1428);
  color: #A09B8C;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  padding-left: 135px;
  min-height: 100%;
}

.confirmation-loading {
  width: fit-content;
}

@media (max-width: 700px) {
  .homepage {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 0 30px;
  }
  .shop {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
  }
  .shop-left {
    position: fixed;
    box-sizing: border-box;
    border-bottom: solid 1px #F0E6D2;
    border-right: none;
    top: 90px;
    padding: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
  }
  .shop-filter {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 5px;
    gap: 5px;
  }
  .shop-right {
    flex: 1;
  }
  .shop-title,
  .shop-poro-message {
    text-align: center;
  }
  .shop-poro-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .champion-modal {
    /* margin-bottom: 0; */
    width: 100%;
    max-height: 85vh;
  }
  .modal-left {
    display: none;
  }
  .modal-name {
    margin-top: 0;
  }
  .modal-title {
    margin-bottom: 0;
  }
  .modal-lore {
    margin-bottom: 0;
    overflow-y: scroll;
  }
  .modal-cart-section {
    margin-bottom: 0;
  }
  .modal-quantity-buttons {
    justify-content: center;
  }
  .modal-add-to-cart-button {
    align-self: center;
  }
  .checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .checkout-empty-order-image {
    max-width: 80vw;
    width: auto;
  }
  .checkout-order-info-section {
    flex-direction: column;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 60px;
    gap: 50px;
  }
  .checkout-list-item {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    gap: 10px;
  }
  .checkout-list-item-input {
    margin-left: 0;
    width: 100px;
  }
  .confirmation {
    align-items: center;
    text-align: center;
    padding: 0 15px;
  }
}

@media (max-width: 450px) {
  .nav-bar {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
  }
  .nav-bar * {
    margin: 0;
  }
  .shop-left {
    display: flex;
    height: auto;
  }
  .shop-filter {
    flex-wrap: wrap;
    padding: 5px;
    gap: 5px;
  }
  .shop-poro-image {
    max-width: 100%;
    height: auto;
  }
  .champion-modal {
    flex-direction: column;
  }
  .modal-lore {
    overflow: scroll;
    height: 250px;
  }
  .modal-quantity-buttons input {
    max-width: 40vw;
  }
}